<div>
  <div>
    <table class="table">
      <tr>
        <td>
          <button (click)="RoutetoAdd()" class="btn btn-primary">Add Clup</button>
        </td>
        <td>
          <button (click)="RoutetoViewClups()" class="btn btn-primary">View Clups</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Add Member</button>

        </td>

      </tr>
    </table>


    <!-- Trigger the modal with a button -->
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Insert Member</h4>
        </div>
        <div class="modal-body">
          <app-add-member></app-add-member>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div style="margin:5px auto">
  <router-outlet></router-outlet>
</div>